<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {%block title%}<title>Politico Interactives</title>{%endblock%}
        <link href="css/main-app.css" rel="stylesheet">
        <!--Typekit-->
        <script src="https://use.typekit.net/you6ipe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <!-- end -->
    </head>
    <body>
        {%block content%}{%endblock%}
        <%# Skip if using webpack. #%>
        <script type="text/javascript" src="js/main-app.bundle.js"> </script>
    </body>
</html>
